# Sanity
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Resend
RESEND_API_KEY=
RESTAURANT_EMAIL=
RESEND_FROM_EMAIL=

# Google Maps
NEXT_PUBLIC_MAPS_EMBED_URL=